<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>Pendulum</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href=/stylesheets/ihover.css rel="stylesheet">
    <link rel="stylesheet" href=/stylesheets/style.css>
    <link rel="stylesheet" media="(max-width: 400px)" href=/stylesheets/iphoneStyle.css>
    <link rel="stylesheet" media="(max-width: 768px)" href=/stylesheets/smallTabletStyle.css>
    <link rel="stylesheet" media="(max-width: 1024px)" href=/stylesheets/ipadStyle.css>

    <script src="/javascript/scripts.js"></script>
    <script src=http://code.jquery.com/jquery-3.2.1.min.js integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a  href="#"><img src="images/Pendulum.png" id="pendulumTitle"> </a>
    <div class="" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link navButton" href="/login">Login</a>
            <a class="nav-item nav-link navButton" href="/signup">Signup</a>
        </div>
    </div>
</nav>
<br><br>
<div class="main-container">
    <%- body -%>
</div>


<script src=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>