
<div class="heading">
    <a><img src="images/ClimateTitle.png" class="headingWrapper" id="climate"></a>
    <a><img src="images/Globalism.png" class="headingWrapper" id="globalism"></a>
    <a><img src="images/Privacy.png" class="headingWrapper" id="privacy"></a>
</div>

<br> <br>

<div class="row">

    <div class="wrapper">
        <div class="ih-item square colored effect4 featuredArticle"><a href="#">
                <div class="img"><img src="images/climate.png" alt="img"></div>
                <div class="mask1"></div>
                <div class="mask2"></div>
                <div class="info">
                    <h3>Article 1</h3>
                    <p>Subtitle</p>
                </div></a></div>

    </div>


    <div class="wrapper">
        <div class="ih-item square colored effect4 featuredArticle"><a href="#">
                <div class="img"><img src="images/climate02.jpg" alt="img"></div>
                <div class="mask1"></div>
                <div class="mask2"></div>
                <div class="info">
                    <h3>Article 1</h3>
                    <p>Subtitle</p>
                </div></a></div>
    </div>

    <div class="wrapper">
        <div class="ih-item square colored effect4 featuredArticle"><a href="#">
                <div class="img"><img src="images/climate03.jpeg" alt="img"></div>
                <div class="mask1"></div>
                <div class="mask2"></div>
                <div class="info">
                    <h3>Article 1</h3>
                    <p>Subtitle</p>
                </div></a></div>
    </div>
</div>

<div class="row">
    <div class="wrapper">
        <div class="ih-item square colored effect4 topicArticle"><a href="#">
                <div class="img"><img src="images/climate04.jpg" alt="img"></div>
                <div class="mask1"></div>
                <div class="mask2"></div>
                <div class="info">
                    <h3>Article 1</h3>
                    <p>Subtitle</p>
                </div></a></div>
    </div>

    <div class="wrapper">
        <div class="ih-item square colored effect4 topicArticle"><a href="#">
                <div class="img"><img src="images/climate05.jpg" alt="img"></div>
                <div class="mask1"></div>
                <div class="mask2"></div>
                <div class="info">
                    <h3>Article 1</h3>
                    <p>Subtitle</p>
                </div></a></div>
    </div>
    <div class="wrapper">
        <div class="ih-item square colored effect4 topicArticle"><a href="#">
                <div class="img"><img src="images/climate06.jpg" alt="img"></div>
                <div class="mask1"></div>
                <div class="mask2"></div>
                <div class="info">
                    <h3>Article 1</h3>
                    <p>Subtitle</p>
                </div></a></div>
    </div>
</div>
