



<div class="row">


    <!-- colored -->
    <div class="ih-item square colored effect4 topic"><a href="#">
            <div class="img"><img src="images/climate.jpg" alt="img"></div>
            <div class="mask1"></div>
            <div class="mask2"></div>
            <div class="info">
                <h3>Article 1</h3>
                <p>Subtitle</p>
            </div></a></div>
    <!-- end colored -->

    <div class="ih-item square colored effect4 topic"><a href="#">
            <div class="img"><img src="images/climate02.jpg" alt="img"></div>
            <div class="mask1"></div>
            <div class="mask2"></div>
            <div class="info">
                <h3>Article 1</h3>
                <p>Subtitle</p>
            </div></a></div>

    <div class="ih-item square colored effect4 topic"><a href="#">
            <div class="img"><img src="images/climate03.jpeg" alt="img"></div>
            <div class="mask1"></div>
            <div class="mask2"></div>
            <div class="info">
                <h3>Article 1</h3>
                <p>Subtitle</p>
            </div></a></div>

</div>





