
<div class="heading">
<h1>Climate Change</h1>
</div>

<br> <br>

<div class="row">


    <div class="wrapper">
    <div class="ih-item square colored effect4 topic"><a href="#">
            <div class="img"><img src="images/climate.jpg" alt="img"></div>
            <div class="mask1"></div>
            <div class="mask2"></div>
            <div class="info">
                <h3>Article 1</h3>
                <p>Subtitle</p>
                <input type="range" property="disabled" min="0" max="100" defaultValue="50">
            </div></a></div>

    </div>


    <div class="wrapper">
    <div class="ih-item square colored effect4 topic"><a href="#">
            <div class="img"><img src="images/climate02.jpg" alt="img"></div>
            <div class="mask1"></div>
            <div class="mask2"></div>
            <div class="info">
                <h3>Article 1</h3>
                <p>Subtitle</p>
            </div></a></div>
    </div>

    <div class="wrapper">
    <div class="ih-item square colored effect4 topic"><a href="#">
            <div class="img"><img src="images/climate03.jpeg" alt="img"></div>
            <div class="mask1"></div>
            <div class="mask2"></div>
            <div class="info">
                <h3>Article 1</h3>
                <p>Subtitle</p>
            </div></a></div>
    </div>
</div>

<div class="row">
    <div class="wrapper">
    <div class="ih-item square colored effect4 topic"><a href="#">
            <div class="img"><img src="images/climate04.jpg" alt="img"></div>
            <div class="mask1"></div>
            <div class="mask2"></div>
            <div class="info">
                <h3>Article 1</h3>
                <p>Subtitle</p>
            </div></a></div>
    </div>

    <div class="wrapper">
        <div class="ih-item square colored effect4 topic"><a href="#">
                <div class="img"><img src="images/climate05.jpg" alt="img"></div>
                <div class="mask1"></div>
                <div class="mask2"></div>
                <div class="info">
                    <h3>Article 1</h3>
                    <p>Subtitle</p>
                </div></a></div>
    </div>

    <div class="wrapper">
        <div class="ih-item square colored effect4 topic"><a href="#">
                <div class="img"><img src="images/climate06.jpg" alt="img"></div>
                <div class="mask1"></div>
                <div class="mask2"></div>
                <div class="info">
                    <h3>Article 1</h3>
                    <p>Subtitle</p>
                </div></a></div>
    </div>
</div>






