





<div class="row">
    <br><br><br>

    <!-- colored -->
    <div class="ih-item square colored effect4 topic"><a href="#">
            <div class="img"><img src="images/climate.jpg" alt="img"></div>
            <div class="mask1"></div>
            <div class="mask2"></div>
            <div class="info">
                <h3>Article 1</h3>
                <p>Subtitle</p>
            </div></a></div>
    <!-- end colored -->
    <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
</div>






</div>



