
<div class="heading">
    <a><img src="images/ClimateTitle.png" class="headingWrapper" id="climate"></a>
    <a><img src="images/Globalism.png" class="headingWrapper" id="globalism"></a>
    <a><img src="images/Privacy.png" class="headingWrapper" id="privacy"></a>
</div>

<br> <br>

<div class="row">

    <div class="wrapper">
    <div class="ih-item square colored effect4 featuredArticle"><a href="https://www.wsj.com/articles/climate-change-isnt-the-end-of-the-world-1501446277">
            <div class="img"><img src="images/climate.png" alt="img"></div>
            <div class="mask1"></div>
            <div class="mask2"></div>
            <div class="info">
                <h3>Climate Change isn't the end of the world</h3>
                <p>The Wall Street Journal</p>
            </div></a></div>

    </div>


    <div class="wrapper">
    <div class="ih-item square colored effect4 featuredArticle"><a href="http://knowledge.wharton.upenn.edu/article/a-compelling-case-for-globalization/">
            <div class="img"><img src="images/Globalism02.jpg" alt="img"></div>
            <div class="mask1"></div>
            <div class="mask2"></div>
            <div class="info">
                <h3>A Compelling Case for Globalization</h3>
                <p>Wharton University</p>
            </div></a></div>
    </div>

    <div class="wrapper">
    <div class="ih-item square colored effect4 featuredArticle"><a href="http://www.huffingtonpost.com/bianna-golodryga/fbi-vs-apple-when-securit_b_9577620.html">
            <div class="img"><img src="images/Privacy01.jpg" alt="img"></div>
            <div class="mask1"></div>
            <div class="mask2"></div>
            <div class="info">
                <h3>FBI vs Apple: When security and privacy collide</h3>
                <p>Huffington Post</p>
            </div></a></div>
    </div>
</div>

<div class="row">
    <div class="wrapper">
    <div class="ih-item square colored effect4 topicArticle"><a href="https://www.edf.org/climate/climate-changes-effects-plunder-planet">
            <div class="img"><img src="images/climate04.jpg" alt="img"></div>
            <div class="mask1"></div>
            <div class="mask2"></div>
            <div class="info">
                <h3>Climate change effects plunder the planet</h3>
                <p>Environmental Defense Fund</p>
            </div></a></div>
    </div>

    <div class="wrapper">
        <div class="ih-item square colored effect4 topicArticle"><a href="https://ourfiniteworld.com/2013/02/22/twelve-reasons-why-globalization-is-a-huge-problem/">
                <div class="img"><img src="images/Globalism03.jpg" alt="img"></div>
                <div class="mask1"></div>
                <div class="mask2"></div>
                <div class="info">
                    <h4>12 Reasons why globalization is a huge problem</h4>
                    <p>Our Finite World</p>
                </div></a></div>
    </div>
    <div class="wrapper">
        <div class="ih-item square colored effect4 topicArticle"><a href="https://www.timeshighereducation.com/features/safety-is-more-important-than-privacy">
                <div class="img"><img src="images/Privacy03.jpg" alt="img"></div>
                <div class="mask1"></div>
                <div class="mask2"></div>
                <div class="info">
                    <h3>Safety is more important than privacy</h3>
                    <p>Times Higher Education</p>
                </div></a></div>
    </div>
</div>
