
body
{
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: block;
}

.container-fluid
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	padding-right: 0;
	padding-left: 0;
}

#home-nav
{
	background: #2980b9;  /* fallback for old browsers */
	background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 5px;
	display: flex;
	width: 80vw;
	height: 5vh;
	margin-left: 16vw;
}



a
{
	color: white;
}


.wrapper{
	display: none;
}





#privacy{
	display: flex;
	width: 40vw;
}

