




body
{
	background: #ECE9E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: block;
}

.container-fluid
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

a
{
	color: #00B7FF;
}

#home-nav
{
	background: #2980b9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 5px;
	display: flex;
	width: 100vw;
	height: 10vh;
	margin-top: 2%;
}

#home-nav a
{
	color: white;
	display: inline-flex;
	justify-content: flex-end;
	width: 10%;
}

#home-nav a:first-child{
	display: inline-flex;
	justify-content: flex-start;
}

.main-container
{
	display: flex;
	flex-wrap: wrap;
}

.topic
{
	border-radius: 5px;
	width: 20vw;
	border: 2px black solid;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.row
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}


/*.wrapper{
	width: 60vw;
	height:5vh;
	margin-top:15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}*/

