

body
 {

	background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
 }

.container-fluid
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

#home-nav
{
	background: #2980b9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 5px;
	display: flex;
	width: 100vw;
	height: 5vh;
	margin: 2%;
}

#topNav{
	margin-top: -3vh;
}

a
{
	color: #232526;
}

.main-container
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.topic{
	width: 60vw;
	height: 10vh;
}

.featuredArticle
{
	border-radius: 5px;
	height: 20vw;
	border: 2px black solid;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.row{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 4vh;
}



.wrapper{
	width:30vw;
	margin-top:15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ih-item{
	box-shadow: 6px 6px black;
}

.heading{
	width: 20vw;
	height: 8vh;
	display: flex;
}

.headingWrapper{
	width:20vw;
	height: 8vh;
	display: flex;
	justify-content: center;

}

.navbar{
	display: flex;
	justify-content: center;
}

#home-nav{
	display: flex;
	justify-content: center;
}

.pendulumTitle{
	display: flex;
	justify-content: center;
	width: 30vw;
	height:8vh;
	margin-left: 31vw;
}

ul{
	display: flex;
}

.customNav{
	display: flex;
	justify-content: center;
	margin-left: 33vw;
	width: 33vw;
}

#titleLink{
	display: flex;
	justify-content: center;
}


.menu-bar {
	display: none
}

.collapseRow{
	display: none;
}

#climateLink{
	display: none;
}

.headingWrapper{
	display: flex;
	justify-content: space-around;
}

#climate{
	margin-left: -10vw;
}

#globalism{
	margin-left: 10vw;
}

#privacy{
	margin-left: 8vw;
	width: 25vw;
}

form{
	color: #232526;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	border: 4px #232526 solid;
	border-radius: 5px;
	padding: 5px;
}

#loginHeading{
	color: #232526;
	display: flex;
	align-content: center;
}

.button{
	border-radius: 5px;
	margin-left: 33%;
	margin-bottom: 3%;
	width: 33%;
}

.nav>li>a:hover
{
	background-color: transparent;
}
