

body
 {

	background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
 }

.container-fluid
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.navbar{
	background: linear-gradient(to right, #2c3e50, #2980b9);
	width: 90vw;
	display: flex;
	justify-content: center;
	align-content: space-around;
	margin-left: 5vw;
	margin-top: 1vh;
}


.nav-item{
	display: flex;
	justify-content: space-around;
	margin: .25vw;
	margin-top: .45vw;
}

.navButton{
	margin: .5vw;
	display: flex;
}


a
{
	color: #232526;
}

.main-container
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.topic{
	width: 60vw;
	height: 10vh;
}

a{
	color: white;
}

.featuredArticle
{
	border-radius: 5px;
	height: 20vw;
	border: 2px black solid;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.row{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 4vh;
}

.wrapper{
	width:30vw;
	margin-top:15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ih-item{
	box-shadow: 6px 6px black;
}

.heading{
	width: 20vw;
	height: 8vh;
	display: flex;
}

.headingWrapper{
	width:20vw;
	height: 8vh;
	display: flex;
	justify-content: center;
}

#pendulumTitle{
	display: flex;
	justify-content: center;
	width: 25vw;
	height:8vh;
	margin-left: 33vw;
	margin-right: 25vw;
	margin-bottom: .20vw;
}

#climateLink{
	display: none;
}

.headingWrapper{
	display: flex;
	justify-content: space-around;
}

#climate{
	margin-left: -10vw;
}

#globalism{
	margin-left: 10vw;
}

#privacy{
	margin-left: 8vw;
	width: 25vw;
}

form{
	color: #232526;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	border: 4px #232526 solid;
	border-radius: 5px;
	padding: 2vw;
	width: 50vw;
	margin-left: 30vw;
}

/*.button{
	border-radius: 5px;
	margin-left: 33%;
	margin-bottom: 3%;
	width: 33%;
}*/

.caButton {
	background: linear-gradient(to right, #2c3e50, #2980b9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	border-radius:8px;
	cursor:pointer;
	color:white;
	font-family: Arial;
	font-size:20px;
	font-weight:bold;
	padding:0px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	display: flex;
	margin-left: 20%;
}

.caButton:hover {
	background: linear-gradient(to right, #2c3e50, #2980b9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
}
.caButton:active {
	position:relative;
	top:1px;
}

input{
	border:1px black solid;
}


h4{
	color: white;
}

p{
	color: white;
}

.topicHeading{
	font-family: "Serif";
	color: #3d768a;
	text-shadow: 1px 1px #2c3e50;
	display: flex;
	align-content: space-around;
	width:100%;
	justify-content: space-around;
}

.topicHeading h2:nth-child(1){
	 margin-left: 3vw;
 }

.topicHeading h2:nth-child(2){
	margin-left:  -5vw;
}

.topicHeading h2:nth-child(3){
	margin-right: 5vw;
}

.formWrapper{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;
	width: 25vw;
	margin-right: 80vw;
}

#username{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	width:100%;
}

#password{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	width:100%;
}


.signupWrapper{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;
	width: 75vw;
	margin-right: 16vw;
}


#signup-container{
	width: 33vw;
}

#loginButton{
	height: 5%;
}

.caButton {
	background: linear-gradient(to right, #2c3e50, #2980b9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	border-radius:8px;
	cursor:pointer;
	color:white;
	font-family: Arial;
	font-size:1em;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	display: flex;
	justify-content: space-around;
	margin-left: 25%;
	width: 50%;
}

input[type=range] {
	height: 31px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;

}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 11px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #002200;
	background: #2C3E50;
	border-radius: 0px;
	border: 1px solid #121112;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 10px #05002E;
	border: 1px solid #2980B9;
	height: 23px;
	width: 23px;
	border-radius: 23px;
	background: #2980B9;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #2C3E50;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 11px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #002200;
	background: #2C3E50;
	border-radius: 0px;
	border: 1px solid #121112;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 10px #05002E;
	border: 1px solid #2980B9;
	height: 23px;
	width: 23px;
	border-radius: 23px;
	background: #2980B9;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 11px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #2C3E50;
	border: 1px solid #121112;
	border-radius: 0px;
	box-shadow: 1px 1px 1px #002200;
}
input[type=range]::-ms-fill-upper {
	background: #2C3E50;
	border: 1px solid #121112;
	border-radius: 0px;
	box-shadow: 1px 1px 1px #002200;
}
input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 1px 1px 10px #05002E;
	border: 1px solid #2980B9;
	height: 23px;
	width: 23px;
	border-radius: 23px;
	background: #2980B9;
	cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
	background: #2C3E50;
}
input[type=range]:focus::-ms-fill-upper {
	background: #2C3E50;
}