body
{

	background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
}

.container-fluid
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.navbar{
	background: linear-gradient(to right, #2c3e50, #2980b9);
	width: 90vw;
	display: flex;
	justify-content: center;
	align-content: space-around;
	margin-left: 5vw;
	margin-top: 1vh;
}


.nav-item{
	display: flex;
	justify-content: space-around;
	margin: .25vw;
	margin-top: .45vw;
}

.navButton{
	margin: .5vw;
	display: flex;
}

a
{
	color: #232526;
}

.main-container
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}

.topic{
	width: 60vw;
	height: 10vh;
}

a{
	color: white;
}

.featuredArticle
{
	border-radius: 5px;
	height: 20vw;
	border: 2px black solid;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.row{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 4vh;
}

.wrapper{
	width:30vw;
	margin-top:15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ih-item{
	box-shadow: 6px 6px black;
}

.heading{
	width: 20vw;
	height: 8vh;
	display: flex;
}

.headingWrapper{
	width:20vw;
	height: 8vh;
	display: flex;
	justify-content: center;
}

#pendulumTitle{
	display: flex;
	justify-content: center;
	width: 25vw;
	height:8vh;
	margin-left: 29vw;
	margin-right: 25vw;
	margin-bottom: .20vw;
}

#climateLink{
	display: none;
}

.headingWrapper{
	display: flex;
	justify-content: space-around;
}


form{
	color: #232526;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	border: 4px #232526 solid;
	border-radius: 5px;
	padding: 2vw;
	width: 50vw;
	margin-left: 30vw;
}

/*.button{
	border-radius: 5px;
	margin-left: 33%;
	margin-bottom: 3%;
	width: 33%;
}*/

.caButton {
	background: linear-gradient(to right, #2c3e50, #2980b9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	border-radius:8px;
	cursor:pointer;
	color:white;
	font-family: Arial;
	font-size:20px;
	font-weight:bold;
	padding:0px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	display: flex;
	margin-left: 20%;
}

.caButton:hover {
	background: linear-gradient(to right, #2c3e50, #2980b9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
}
.caButton:active {
	position:relative;
	top:1px;
}

input{
	border:1px black solid;
}


h4{
	color: white;
}

p{
	color: white;
}

.topicHeading{
	font-family: "Serif";
	color: #3d768a;
	text-shadow: 1px 1px #2c3e50;
	display: flex;
	width:100%;
	justify-content: space-around;
}

.topicHeading *{
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.topicHeading:nth-child(2){
	display: flex;
	justify-content: flex-end;
	width: 10%;
}

#climate{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-left: 4vw;
}

#privacy{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-right: 4.5vw;
}

#globalism{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-left: 0vw;
}


.formWrapper{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;
	width: 25vw;
	margin-right: 80vw;
}

#username{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	width:100%;
}

#password{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	width:100%;
}


.signupWrapper{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;
	width: 75vw;
	margin-right: 16vw;
}


#signup-container{
	width: 33vw;
}

#loginButton{
	height: 5%;
}

.caButton {
	background: linear-gradient(to right, #2c3e50, #2980b9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	border-radius:8px;
	cursor:pointer;
	color:white;
	font-family: Arial;
	font-size:1em;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	display: flex;
	justify-content: space-around;
	margin-left: 25%;
	width: 50%;
}
