




body
{
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container-fluid
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

a
{
	color: #00B7FF;
}

#home-nav
{
	background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 5px;
	display: flex;
	width: 100vw;
	height: 10vh;
	margin-top: 2vw;
}

#home-nav a
{
	color: white;
	display: inline-flex;
	justify-content: flex-end;
	width: 10%;
}

#home-nav a:first-child{
	display: inline-flex;
	justify-content: flex-start;
}


#topNav{
	display: none;
}

.main-container
{
	display: flex;
	flex-wrap: wrap;
}

.topicArticle
{
	border-radius: 5px;
	width: 20vw;
	border: 2px black solid;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.row
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}


.wrapper{
	display: none;
}

#climate{
	display: flex;
	justify-content: center;
	color: white;
	background-color: #2c3e50;
	width: 80vw;
}

.navbar{
	display: flex;
	justify-content: center;
}

#home-nav{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -4vw;
}

.pendulumTitle{
	display: flex;
	justify-content: center;
	width: 35vw;
	height:6vh;
	margin-left: 0;
}

.heading{
	width: 80vw;
	height: 8vh;
	display: flex;
	flex-wrap: wrap;
}

#globalism{
	width:70vw;
	height:14vh;
}

#privacy{
	width:75vw;
	height:18vh;
}

.headingWrapper{
	width:70vw;
	height: 14vh;
	display: flex;
	justify-content: center;
	margin-left: 10vw;
	margin-bottom: 5vw;
}
