


body
 {
	 background: #232526;  /* fallback for old browsers */
	 background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	 background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 }

.container-fluid
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

a
{
  color: #00B7FF;
}

#home-nav
{
	background: #2980b9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 5px;
	display: flex;
	width: 100vw;
	height: 5vh;
	margin-top: 2%;
}

a
{
	color: white;
}

.main-container
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.topic{
	width: 60vw;
	height: 10vh;
}

.topicArticle
{
	border-radius: 5px;
	height: 20vw;
	border: 2px black solid;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.row{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 4vh;
}



.wrapper{
	width:30vw;
	margin-top:15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heading{
	width: 20vw;
	height: 8vh;
	display: flex;
}

.headingWrapper{
	width:20vw;
	height: 8vh;
	display: flex;
	justify-content: center;
	margin-left: 20vw;
}

.navbar{
	display: flex;
	justify-content: center;
}

#home-nav{
	display: flex;
	justify-content: center;
}

.pendulumTitle{
	display: flex;
	justify-content: center;
	width: 30vw;
	height:8vh;
	margin-left: 33vw;
}

ul{
	display: flex;
}

.customNav{
	display: flex;
	justify-content: center;
	width: 50vw;
}

#titleLink{
	display: flex;
	justify-content: center;
}

#topicAccordion{
	display: none;
}

.menu-bar {
	display: none
}

.bars {
	display: none;
	background-color: white;
	box-shadow: 0 5px 0 white, 0 10px 0 white;
}

.collapseRow{
	display: none;
}

#climateLink{
	display: none;
}